@import "tailwindcss";

:root {
    --default-font-family: "Bricolage Grotesque", ui-sans-serif, system-ui,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

* {
    font-family: var(--default-font-family) !important;
    background: rgb(255, 255, 255);
}
